.base {
    display: flex;
    margin: 1rem 0;
    padding: 0;
    list-style: none;
}

.base > li {
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
}

@media only screen and (min-width: 1440px) {
    .base {
        flex-direction: column;
        gap: 2rem;
        margin: 0;
    }
}
