.base {
    display: inline-block;
    margin: 0 0 1.5rem 0;
    padding: 0rem 1rem 2rem 2rem;
    border: 2px solid var(--color-brand-light-blue);
    border-radius: 0.75rem;
    color: var(--color-brand-light-blue);
    font-family: var(--font-sans);
    /* font-style: normal; */
    width: 100%;
    line-height: 1.25em;
    /* background-color: #f0f9fc; */
    background-color: var(--color-neutral-50);
}

.content_hide {
    display: none;
    /* border: 3px solid red; */
}

.content_show {
    display: block;
    /* border: 3px solid red; */
}

.title {
    margin-bottom: 1rem;
    /* border: 1px solid magenta; */
}

.subtle,
.prominent {
    composes: base;
}

.subtle p,
.prominent p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 1rem;
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        display: inline-block;
        margin: 0;
        padding: 0rem 2rem 4rem 2rem;
        border-radius: 0.75rem;
        color: var(--color-brand-light-blue);
        font-family: var(--font-sans);
        transition: background-color 300ms ease;
    }

    .base:hover {
        background-color: white;
        cursor: pointer;
    }

    .subtle,
    .prominent {
        composes: base;
    }

    .subtle:hover p,
    .prominent:hover p {
        color: var(--color-brand-dark-blue);
    }

    .subtle p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 1rem;
        /* border: 3px solid green; */
    }

    .prominent p {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5em;
        margin-bottom: 1rem;
        /* border: 3px solid green; */
    }

    .b0 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 80;
    }

    .b0_selected {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 81;
    }

    .b1 {
        grid-column-start: 5;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 1;
        z-index: 80;
    }

    .b1_selected {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 81;
    }

    .b2 {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 1;
        z-index: 80;
    }

    .b2_selected {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 81;
    }

    .b3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 80;
    }

    .b3_selected {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 81;
    }

    .b4 {
        grid-column-start: 9;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 3;
        z-index: 80;
    }

    .b4_selected {
        grid-column-start: 6;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 3;
        z-index: 81;
    }
}
