.base {
    display: flex;
    column-gap: 2rem;
    row-gap: 6rem;
    margin: 0;
    padding: 2rem 0;
    z-index: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: span 12;
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        margin: 0 auto;
        padding: 6rem 0;
        width: 1440px;
    }
}


.tags {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    /* border: 5px solid pink; */
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 3rem 0 0 0;
    padding: 0 1.5rem;
    list-style: none;
    width: 100%;
}

.tag,
.filter {
    display: flex;
    height: 3rem;
    padding: 0rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    font-family: var(--font-sans);

    border-radius: 0.375rem;
    border: 2px solid var(--color-neutral-200, #c4c4c4);

    color: var(--color-neutral-500);
    background-color: var(--color-white);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.clear_filter {
    /* composes: clear_filter; */
    margin: 0 0 0 1rem;
    padding: 0;
    border: none;

    color: var(--color-brand-light-blue);
    background-color: var(--color-white);
    /* font-size: 1rem; */
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: normal; */

    /* display: flex; */
    height: 3rem;
    /* padding: 0rem 1.5rem; */
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 0.5rem; */
    /* text-decoration: none; */
    font-family: var(--font-sans);

    /* border-radius: 0.375rem; */
    /* border: 2px solid var(--color-neutral-200, #c4c4c4); */

    /* color: var(--color-neutral-500); */
    /* background-color: var(--color-white); */
    font-size: 1rem;
    font-style: normal;
    /* font-weight: 600; */
    line-height: normal;
}

.clear_filter_show {
    composes: clear_filter;
    display: block;
}

.clear_filter_hidden {
    composes: clear_filter;
    display: none;
}

/* fixed */
@media only screen and (min-width: 1400px) {


    .tags {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
        /* border: 5px solid pink; */
        justify-content: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 3rem 0 0 0;
        padding: 0 1.5rem;
        list-style: none;
        width: 100%;
    }

    .tag,
    .filter {
        display: flex;
        height: 3rem;
        padding: 0rem 1.5rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        text-decoration: none;
        font-family: var(--font-sans);

        border-radius: 0.375rem;
        border: 2px solid var(--color-neutral-200, #c4c4c4);

        color: var(--color-neutral-500);
        background-color: var(--color-white);
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .clear_filter {
        /* composes: clear_filter; */
        margin: 0 0 0 1rem;
        padding: 0;
        border: none;

        color: var(--color-brand-light-blue);
        background-color: var(--color-white);
        /* font-size: 1rem; */
        /* font-style: normal; */
        font-weight: 400;
        /* line-height: normal; */

        /* display: flex; */
        height: 3rem;
        /* padding: 0rem 1.5rem; */
        /* justify-content: center; */
        /* align-items: center; */
        /* gap: 0.5rem; */
        /* text-decoration: none; */
        font-family: var(--font-sans);

        /* border-radius: 0.375rem; */
        /* border: 2px solid var(--color-neutral-200, #c4c4c4); */

        /* color: var(--color-neutral-500); */
        /* background-color: var(--color-white); */
        font-size: 1rem;
        font-style: normal;
        /* font-weight: 600; */
        line-height: normal;
    }

    .clear_filter_show {
        composes: clear_filter;
        display: block;
    }

    .clear_filter_hidden {
        composes: clear_filter;
        display: none;
    }
}