.base {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 3rem;
    margin: 0;
    padding: 0rem 1rem 0rem 1.5rem;
    border-radius: 3rem;
    text-decoration: none;
    font-family: var(--font-sans);
}

.primary {
    composes: base;
    background-color: var(--color-brand-light-blue);
    color: var(--color-white);
    border: 2px solid var(--color-brand-light-blue);
}

.primary svg {
    opacity: 0.5;
    stroke: white;
}

.secondary {
    composes: base;
    background-color: none;
    color: var(--color-white);
    border: 2px solid var(--color-white-subtle);
}

.secondary svg {
    opacity: 0.5;
    stroke: var(--color-white);
}

.theme_blue {
    background-color: var(--color-brand-light-blue);
    border-color: var(--color-brand-light-blue);
}

.theme_beige {
    background-color: var(--color-brand-beige);
    border-color: var(--color-brand-beige);
}
