.main {
    min-height: 100vh;
    /* min-h-screen */
    background-color: var(--background);
    /* replace with your theme variable or color */
}

.container {
    max-width: 1280px;
    /* typical container max width */
    margin: 0 auto;
    padding: 2rem 1rem 8rem;
}

.header {
    font-family: var(--font-serif);
    color: var(--color-brand-beige);
}

.subHeader {
    font-family: var(--font-sans);
    color: var(--color-brand-dark-blue);
    margin-top: 1rem;
    font-size: 1rem;
    /* text-xl */
    font-weight: 200;
    /* font-medium */
    text-align: left;
}


.eventDetails {
    display: flex;
    color: var(--color-brand-dark-blue);
    gap: 0.2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: var(--font-sans);
}

.maxWidth2xl {
    max-width: 42rem;
    /* max-w-2xl */
    margin-left: auto;
    margin-right: auto;
}

.textCenter {
    text-align: center;
}

.mb8 {
    margin-bottom: 2rem;
    /* mb-8 */
}

.mb4 {
    margin-bottom: 1rem;
    /* mb-4 */
}

.text4xl {
    font-size: 2.25rem;
    /* text-4xl */
    font-weight: 700;
    /* font-bold */
}

.textLg {
    font-size: 1.125rem;
    /* text-lg */
}

.learnMoreLink {
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-blue);
    text-decoration: underline;
    font-family: var(--font-sans);
}