.selectionsSection {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectionsTitle {
    font-size: clamp(1.8rem, 3vw, 3rem);
    margin: 1rem auto;
    color: var(--color-brand-dark-blue);
}

.selectionsText {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    margin-bottom: 2rem;
    font-family: var(--font-sans);
    color: rgba(0, 0, 0, 0.45);
    margin: 0 1rem 2rem 1rem;
}