.section {
    margin: 0;
    background-color: var(--color-brand-beige-subtle);
    width: 100%;
    padding: 2.5rem 0;
    border-bottom: 0.75rem solid var(--color-brand-beige);
}

.container {
    max-width: 72rem;
    margin: 0 auto;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}


.feature {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    max-width: 120px;
}

.iconWrapper {
    width: 5rem;
    height: 5rem;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1rem;
    box-shadow: var(--drop-shadow-on-beige);
}

.icon {
    width: 2rem;
    height: 2rem;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-brand-dark-blue);
    font-family: var(--font-sans);
    margin: 0;
}

.text {
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: small;
    font-weight: 400;
}


@media (min-width: 1024px) {

    .section {
        padding: 2rem 0;
    }

    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: auto;
    }


    .feature {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        max-width: 160px;
    }

    .iconWrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 1rem;
    }

    .icon {
        width: 2rem;
        height: 2rem;
    }

    .title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    .text {
        font-size: 1rem;
        font-weight: 400;
    }

}