.base {
    margin: 3rem 0;
    padding: 0;
}

.tabs {
    display: flex;
    gap: 3rem;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--color-neutral-300);
}

.tab {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #007bff;
    font-weight: bold;
}

.tabContent {
    margin: 0;
    padding: 2rem 0;
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    /* line-height: 1.5rem; */
}
