.base {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    padding: 0.25rem;
    /* background-color: rgba(246, 243, 238, 1); */
    border: 1px solid rgba(246, 243, 238, 0);
    border-radius: var(--radius);
    background-color: white;
    box-shadow: var(--drop-shadow-on-beige);
}

.base > svg {
    width: 1.25rem;
    fill: var(--color-brand-beige);
}

.selected > svg,
.selected:hover > svg {
    fill: var(--Brand-Dark-blue-Default, #36484b);
}

.base:hover {
    border-color: rgba(54, 72, 75, 0.5);
    cursor: pointer;
}

.selected,
.selected:hover {
    border-color: var(--Brand-Dark-blue-Default, #36484b);
}

.image {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: var(--drop-shadow-on-beige);
}

@media only screen and (min-width: 1280px) {
    .base {
        border: 2px solid rgba(246, 243, 238, 0);
    }

    .selected,
    .selected:hover {
        border-color: var(--Brand-Dark-blue-Default, #36484b);
    }

    .base > svg {
        width: 1.75rem;
    }
}
