.base {
    /* display: grid; */
    /* column-gap: 2rem; */
    /* row-gap: 6rem; */
    /* grid-template-columns: repeat(1, 1fr); */
    margin: 0;
    padding: 1.5rem 0rem 1.5rem 1.5rem;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    /* border: 2px solid red; */
}

.content {
    /* border: 5px solid red; */
    margin: 0;
    padding: 2rem 0 0 1.5rem;
    /* grid-column: 1 / 2; */
}

@media only screen and (min-width: 1440px) {
    .base {
        display: grid;
        column-gap: 2rem;
        row-gap: 6rem;
        grid-template-columns: repeat(12, 1fr);
        /* margin: 0; */
        padding: 2rem 0;
        /* z-index: 1;
        width: 100%;
        overflow: hidden; */
        /* border: 2px solid blue; */
    }
    .content {
        margin: 0;
        padding: 6rem 0 0 0;
        grid-column: 3 / 11;
    }
}

.headline {
    color: var(--Brand-Dark-blue-Default, #36484b);
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.5rem; /* 166.667% */
    text-align: left;
}

.sentence {
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}
