.base {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    overflow: hidden;
}

@media only screen and (min-width: 1440px) {
    .base {
        /* display: flex; */
        /* justify-content: flex-start; */
        margin: 6rem 0;
        padding: 3rem 0 0 0;
        /* overflow: hidden; */
    }
}
