:root {
    --color-white: #fff;
    --color-white-subtle: rgba(255, 255, 255, 0.5);
    --color-black: #000;
    --color-blue: #1da3ba;
    --radius: 0.5rem;
    --link-opacity: 0.7;
    --link-opacity-hover: 1;

    --color-neutral-0: #f7f7f7;
    --color-neutral-50: #ebebeb;
    --color-neutral-100: #dedede;
    --color-neutral-200: #c4c4c4;
    --color-neutral-300: #ababab;
    --color-neutral-400: #919191;
    --color-neutral-500: #787878;
    --color-neutral-600: #5e5e5e;
    --color-neutral-700: #454545;
    --color-neutral-800: #2b2b2b;
    --color-neutral-900: #121212;

    --color-brand-dark-blue: #36484b;
    --color-brand-dark-blue-hover: #202b2c;
    --color-brand-light-blue: #1da4ba;
    --color-brand-light-blue-hover: #167c8d;
    --color-brand-beige: hsla(35, 32%, 53%, 1);
    --color-brand-beige-hover: #91744a;
    --color-brand-beige-subtle: #f6f3ee;
}

* {
    box-sizing: border-box;
}

html {
    font-family: var(--font-sans);
}

body {
    margin: 0;
    padding: 0;
    background: #fff;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: var(--font-serif);
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25em;
}

h2 {
    color: #ad8d5f;
    text-align: center;
    font-family: var(--font-serif);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25em;
}

p.intro {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 150% */
}

p.small-caps {
    color: var(--color-neutral-500, #787878);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
}

table {
    margin: 3rem 0 6rem 0;
    padding: 0;
    /* border: 1px solid red; */
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-sans);
    color: var(--color-neutral-500);
}

th {
    /* border: 1px solid pink; */
    /* width: 100%; */
}

tr td.left {
    text-align: left;
}

thead th:nth-child(1) {
    width: 20%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 20%;
}

thead th:nth-child(4) {
    width: 20%;
}

thead th:nth-child(5) {
    width: 20%;
}

th {
    background-color: var(--color-neutral-0);
}

th,
td {
    border: 1px solid var(--color-neutral-100);
    padding: 1rem;
}

td {
    text-align: center;
}

tfoot td {
    vertical-align: top;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type='text'],
input[type='button'],
input[type='submit'] {
    background-color: #ffffff;
}
