.base {
    /* width: 24rem; */
    background-color: var(--color-white);
    color: var(--color-brand-dark-blue);
    text-decoration: none;
    font-family: var(--font-sans);
}

.image {
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 16px 0px rgba(54, 72, 75, 0.15);

    width: 100%;
    height: auto;
    display: block;
}

.container {
    /* display: flex; */
    margin: 0;
    padding: 1rem 0.5rem;
}

.container p {
    margin: 0;
    padding: 0;
    color: var(--color-neutral-500, #787878);
    line-height: 1.5rem;
}

.container ul {
    display: flex;
    gap: 1rem;
    margin: 0 0 0 auto;
    padding: 0;
    list-style: none;
    color: var(--color-neutral-500, #787878);
    line-height: 1.5rem;
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        width: 24rem;
        background-color: var(--color-white);
        color: var(--color-brand-dark-blue);
        text-decoration: none;
        font-family: var(--font-sans);
    }

    .image {
        margin: 0;
        padding: 0;
        width: 24rem;
        height: auto;
        border-radius: 0.5rem;
        box-shadow: 0px 4px 16px 0px rgba(54, 72, 75, 0.15);
    }

    .container {
        /* display: flex; */
        margin: 0;
        padding: 1rem 0.5rem;
    }

    .container p {
        margin: 0 0 0.5rem 0;
        padding: 0;
        color: var(--color-neutral-500);
        line-height: 1.5em;
    }

    .container ul {
        display: flex;
        gap: 1rem;
        margin: 0 0 0 auto;
        padding: 0;
        list-style: none;
        color: var(--color-neutral-500, #787878);
        line-height: 1.5rem;
    }
}
