.base {
    display: flex;
    white-space: nowrap;
    position: absolute;
    top: calc(50% - (52px / 2));
    left: 85%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 100;
}

.tooltip_show {
    composes: base;
    opacity: 1;
    visibility: visible;
    transform: translateX(-4px);
    transition: opacity 400ms ease, visibility 0s, transform 300ms ease;
}

.tooltip_hide {
    composes: base;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease, visibility 300s, transform 200ms ease;
}

.content {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 1.5rem 0 0.75rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    color: var(--color-white);
    background-color: var(--color-brand-dark-blue);
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.25rem;
    height: 48px;
}

.base svg {
    /* display: none; */
    /* position: absolute; */
    /* left: 12px; */
    /* bottom: -12px; */
}
