.base {
    margin: 0;
    padding: 6rem 0;
    background-color: var(--color-neutral-50);
    width: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0 0 3rem 0;
}

.subhead {
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-brand-dark-blue);
}

.intro {
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    color: var(--color-brand-light-blue);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.75rem;
}

.bullets {
    /* margin: 0 0 0 0; */
    padding-left: 1rem;
}
.benefits {
    /* padding: 0 1.5rem; */
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    gap: 0;
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
}

.benefits > :nth-child(1) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.benefits > :nth-child(2),
.benefits > :nth-child(3),
.benefits > :nth-child(4) {
    border-radius: 0;
    border-bottom: none;
}

.benefits > :nth-child(5) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* border-bottom: none; */
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .content {
        width: 100%;
        margin: 0;
        padding: 4rem 0 8rem 0;
    }

    .subhead {
        margin-bottom: 1rem;
        color: var(--color-brand-dark-blue);
    }

    .intro {
        width: 40rem;
        margin: 0 auto;
        padding: 0;
        color: var(--color-brand-light-blue);
        font-family: var(--font-sans);
        font-size: 1rem;
        font-weight: 300;
        font-style: normal;
        text-align: center;
        line-height: 1.75rem;
    }

    .benefits {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
        margin: 0 auto;
        padding: 0 2rem;
        width: 1440px;
    }

    .benefits > * {
        border-radius: 1rem !important;
        border: 2px solid var(--color-brand-dark-blue) !important;
    }
}
