.base {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    font-family: var(--font-sans);
    font-weight: 600;
    text-decoration: none;
    transition: color 300ms ease;
}

.base span {
}

.theme_blue {
    color: var(--color-brand-light-blue);
}

.theme_beige svg path {
    stroke: var(--color-brand-light-blue);
}

.theme_beige {
    color: var(--color-brand-beige);
}

.theme_beige svg path {
    stroke: var(--color-brand-beige);
}

.base.theme_blue:hover {
    color: var(--color-brand-light-blue-hover);
}

.base.theme_beige:hover {
    color: var(--color-brand-beige-hover);
}

.base svg {
    transition: transform 200ms ease;
}

.base:hover svg {
    transform: translateX(2px);
}
