.content {
    grid-column-start: 3;
    grid-column-end: 11;
    /* border: 2px dashed magenta; */
    /* color: magenta; */
    font-family: var(--font-sans);
    font-size: 1rem;
    color: var(--var-color-neutral-500);
    line-height: 1.5em;
}

.content p {
    margin: 0 0 1rem 0;
    padding: 0;
}

.content a {
    margin: 0;
    padding: 0;
    color: var(--color-brand-light-blue);
}
