.wrapper {
    width: 100%;
    /* overflow: hidden; */
}

.container {
    padding-top: 6.75rem;
}


.title {
    margin: 0rem auto 1rem auto;
    padding: 0;
    font-family: var(--font-serif);
    color: var(--color-brand-beige);
    max-width: 38rem;
    text-align: center;
}



/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        padding: 4rem 0;
    }

    .explanation {
        font-size: 1.5rem;
        font-weight: 300;
        max-width: 38rem;
    }
}