.base {
    margin: 3rem 0;
    padding: 0;
    width: 100%;
    /* border: 3px solid pink; */
}

.properties {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    margin: 0 0 3rem 0;
    padding: 2rem 0 2rem 1.5rem;
    overflow-x: scroll;
    /* border: 3px solid magenta; */
}

.properties::-webkit-scrollbar {
    display: none;
}

.centered {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        margin: 0;
        padding: 6rem 0;
        width: 100%;
        overflow: hidden;
    }

    .properties {
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        margin: 0 0 3rem 0;
        /* padding: 6rem; */
        /* border: 1px solid red; */
    }
}
