.base {
    display: inline-block;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0.5rem;
    color: white;
    background-color: magenta;
    z-index: 9999;
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-weight: 500;
}
