.base {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--color-brand-beige);
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    border-radius: 1.5rem;
    border: 2px solid white;
    transition: background-color 300ms ease;
}

.base:hover {
    background-color: var(--color-brand-beige-hover);
}
