.root {
    background-color: var(--color-brand-light-blue);
    margin: 0 auto 6rem auto;
    padding: 6rem 0;
    text-align: center;
    width: 80vh;

    border-radius: 0.75rem;
    /* grid-column: 2 / 12; */
    grid-column-start: 3;
    grid-column-end: 11;
}

.display2 {
    margin: 0 0 1rem 0;
    padding: 0;
    /* text-align: left; */
    font-family: var(--font-serif);
    color: white;
    width: 38rem;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.intro {
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.25rem; /* 150% */
    opacity: 0.75;
    color: var(--color-white);
    width: 38rem;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.cta {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.25rem; /* 150% */
    color: var(--color-white);
    width: 38rem;
    padding: 0;
    margin: 2rem auto 2rem auto;
    opacity: 0.75;
}

.cta a {
    /* font-family: var(--font-sans); */
    color: var(--color-white);
}
