.base {
    /* position: relative; */
    /* top: 0; */
    margin: 0;
    padding: 3rem 0;
    background-color: var(--color-brand-beige-subtle);
    width: 100vw;
    /* height: 50vw; */
    /* border: 5px solid green; */
    /* width: 100%; */
    overflow: hidden;
}

.content {
    /* position: absolute;
    top: 0; */
    z-index: 2;
}

.bg {
    display: none;
    /* position: relative;
    top: 0;
    width: 100vw;
    height: 50vw;
    z-index: 1; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 0 0rem 0;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    border-radius: 0;
    border-top: 2px solid var(--color-brand-beige);
    border-bottom: 2px solid var(--color-brand-beige);
    background: var(--color-white);
}

.columnLeft,
.columnRight {
    width: 100%;
}

.columnLeft p {
    margin: 1rem 0 !important;
    padding: 0;
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

.columnLeft h2 {
    text-align: left;
    margin: 0 0 1rem 0;
}

.columnLeft,
.columnRight {
    margin-bottom: 1.5rem;
}

.information {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    font-family: var(--font-sans);
    list-style: none;
    color: var(--color-neutral-500);
    line-height: 0.75rem;
}

.information li {
    margin: 0;
    padding: 0;
}

.img {
    border-radius: 0.5rem;
    width: 100%;
    height: auto;
    aspect-ratio: '16 / 9';
}

.buttonGroup {
    display: flex;
    position: relative;
    align-self: flex-start;
    margin: 0 auto;
    padding: 0;
    /* width: 16rem; */
    top: -1.5rem;
    /* left: 50%; */
    border: 2px solid var(--color-brand-beige);
    border-radius: 3rem;
}

.buttonGroupButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 0;
    border: none;
    /* padding: 1rem; */
    /* width: 8rem; */
    text-decoration: none;
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.02em;
}

.buttonGroupButtonLeft {
    composes: buttonGroupButton;
    padding: 1rem 1.25rem 1rem 1.5rem;
    color: var(--color-brand-beige);
    background-color: var(--color-white);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}

.buttonGroupButtonLeft:hover {
    background-color: var(--color-brand-beige-subtle);
    cursor: pointer;
}

.buttonGroupButtonRight {
    composes: buttonGroupButton;
    padding: 1rem 1.5rem 1rem 1.25rem;
    color: var(--color-brand-beige);
    background-color: var(--color-white);
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.buttonGroupButtonRight:hover {
    background-color: var(--color-brand-beige-subtle);
    cursor: pointer;
}

.buttonGroupButtonLeft_selected {
    composes: buttonGroupButtonLeft;
    color: var(--color-white);
    background-color: var(--color-brand-beige);
}

.buttonGroupButtonLeft_selected:hover {
    background-color: var(--color-brand-beige-hover);
    cursor: pointer;
}

.buttonGroupButtonRight_selected {
    composes: buttonGroupButtonRight;
    color: var(--color-white);
    background-color: var(--color-brand-beige);
}

.buttonGroupButtonRight_selected:hover {
    color: var(--color-brand-beige-hover);
    cursor: pointer;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 3rem 0;
}

/* fixed */
@media only screen and (min-width: 1400px) {
    .base {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
        position: relative;
        top: 0;
        background-color: var(--color-brand-beige-subtle);
        margin: 0;
        padding: 0;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
        margin: 0 0 5rem 0;
        padding: 6rem 0 12rem 0;
        width: 1440px;
        height: auto;
        position: absolute;
        top: 0;
        z-index: 2;
    }

    .bg {
        display: block;
        position: relative;
        top: 0;
        width: 100vw;
        height: 900px;
        z-index: 1;
    }

    .tagsContainer {
        grid-column: span 12;
    }

    .tags {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: span 12;
    }

    .columns {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin: 0 0 0rem 0;
        padding: 3rem 3rem 4rem 3rem;
        /* grid-column: 3 / 11; */
        border-radius: 1rem;
        border: 2px solid var(--color-brand-beige);
        background: var(--color-white);
    }

    .columnLeft,
    .columnRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* border: 5px solid magenta; */
        flex: 1;
    }

    .columnLeft p {
        margin: 0 0 1rem 0;
        padding: 0;
        color: var(--color-neutral-500);
        font-family: var(--font-sans);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
    }

    .columnLeft h2 {
        text-align: left;
    }

    .information {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin: 0.5rem 0 1rem 0;
        padding: 0;
        font-family: var(--font-sans);
        list-style: none;
        color: var(--color-neutral-500);
        line-height: 0.75rem;
    }

    .information li {
        margin: 0;
        padding: 0;
    }

    /*  */
}