.root {
    border-top: 1rem solid #ad8d5f;
    color: white;
    background: #36484b;
    width: 100vw;
    margin: 0;
    padding: 3rem 0;
}

.icon {
    opacity: var(--link-opacity);
}

.container {
    /* border-top: 16px solid pink; */
    margin: 0;
    padding: 0 1.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    font-family: var(--font-sans);
}

.logo {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.columnLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid green; */
    grid-column-start: 1;
    grid-column-end: 13;
}

.columnRight {
    /* border: 1px solid lime; */
    padding-top: 3rem;
    grid-column-start: 1;
    grid-column-end: 13;
}

@media only screen and (min-width: 1300px) {
    .columnRight {
        /* border: 1px solid lime; */
        padding-top: 3rem;
        grid-column-start: 6;
        grid-column-end: 13;
    }
}

.columnRightTop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.columnRightBottom {
    padding-top: 3rem;
}

.linkColumn {
    grid-column: span 1;
}

@media only screen and (min-width: 960px) {
    .columnRightTop {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .linkColumn {
        grid-column: span 2;
    }
    .columnLeft {
        /* border: 1px solid green; */
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .columnRight {
        /* border: 1px solid lime; */
        padding-top: 3rem;
        grid-column-start: 7;
        grid-column-end: 13;
    }
}

.root ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.root ul li {
    margin: 0;
    padding: 0 0 0.5rem 0;
}

.root ul li a {
    text-decoration: none;
    color: white;
    font-family: var(--font-sans);
    opacity: var(--link-opacity);
    transition: opacity 300ms ease;
}

.root ul li a:hover {
    opacity: var(--link-opacity-hover);
}

.display3 {
    margin: 0 0 1rem 0;
    padding: 0;
    color: var(--color-neutral-300, #ababab);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-family: var(--font-sans);
}

.legal {
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

@media only screen and (min-width: 1300px) {
    .legal {
        flex-direction: row;
        gap: 2rem;
    }
}

.legal li:first-child {
    text-decoration: none;
    color: white;
    font-family: var(--font-sans);
    opacity: var(--link-opacity);
    /* transition: opacity 300ms ease; */
}

.legal li a {
    text-decoration: none;
    color: white;
    font-family: var(--font-sans);
    opacity: var(--link-opacity);
    transition: opacity 300ms ease;
}

.legal li a:hover {
    opacity: var(--link-opacity-hover);
}

.intro {
    margin: 1rem 0 1.5rem 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.75rem;
    /* opacity: 0.75; */
}

/* Mobile XS */
@media only screen and (min-width: 475px) {
    .container {
        /* border-top: 16px solid red; */
        /* width: 100%; */
    }
}

/* fluid */
@media only screen and (min-width: 960px) {
    .container {
        /* border-top: 16px solid green; */
        /* width: 100%; */
    }
}

/* fixed */
@media only screen and (min-width: 1400px) {
    .container {
        /* border-top: 16px solid blue; */
        margin: 0 auto;
        width: 90rem;
    }
}

.contact {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    /* border: .5px solid pink; */
    margin-bottom: 0.5rem !important;
}
