.base {
    list-style: none;
    width: 100%;
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}



@media only screen and (min-width: 1440px) {
    .base {
        width: auto;
        justify-content: flex-start;
    }
}