.base {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    /* grid-column: span 12; */
    /* aspect-ratio: 16 / 9; */
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .base {
        width: 640px;
        height: 360px;
        /* grid-column: span 12; */
    }
}
