.base {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 0.5rem;
    background-color: hsla(36, 33%, 94%, 1);
}

@media only screen and (min-width: 1440px) {
    .base {
        width: 640px;
        max-height: 360px;
        overflow: hidden;
        background-color: hsla(36, 33%, 94%, 1);
    }
}
