.base {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: rgba(255, 0, 255, 0.1);
    grid-column-start: 5;
    grid-column-end: 9;
    aspect-ratio: 16/9;
    border-radius: 1rem;
    font-family: var(--font-sans);
    color: rgba(255, 0, 255, 1);
}
