.base {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    font-weight: 700;
    text-decoration: none;
    height: 3rem;
    font-family: var(--font-sans);
}

.base_show {
    composes: base;
    display: flex;
}

.base_hide {
    composes: base;
    display: none;
}

.light,
.dark {
    composes: base;
}

.logotype {
    display: none;
}

.light .logo,
.light:hover .logo,
.light:active .logo,
.light:visited .logo {
    fill: var(--color-brand-light-blue);
}

.light .logotype,
.light:hover .logotype,
.light:active .logotype,
.light:visited .logotype {
    color: var(--color-brand-dark-blue);
}

.dark .logo,
.dark:hover .logo,
.dark:active .logo,
.dark:visited .logo {
    fill: var(--color-white);
}

.dark .logotype,
.dark:hover .logotype,
.dark:active .logotype,
.dark:visited .logotype {
    color: var(--color-white);
}

/* Mobile XS */
@media only screen and (min-width: 475px) {
    .logotype {
        display: none;
    }
}

/* fluid */
@media only screen and (min-width: 960px) {
    .logotype {
        display: inline-block;
    }

    .base {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        height: 3rem;
    }
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .logotype {
        display: inline-block;
    }

    .base {
        display: flex;
        gap: 0.75rem;
        align-items: center;
        font-weight: 700;
        text-decoration: none;
        height: 3rem;
    }
}