.base {
    position: relative;
    padding: 0.75rem;
    background-color: var(--color-white);
    border-radius: 0.5rem;
    font-family: var(--font-sans);
    border: 2px solid var(--color-brand-beige);
}

.buttonLeft,
.buttonRight {
    position: absolute;
    top: 7rem;
    z-index: 999;
}

.buttonLeft {
    left: calc(-1.5rem - 2px);
}
.buttonRight {
    right: calc(-1.5rem - 2px);
}

.img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}

.content {
    display: flex;
    /* justify-content: flex-end; */
    gap: 4rem;
    flex: 1;
    margin: 0;
    padding: 1rem 0.75rem 0.75rem 0.75rem;
}

.content p {
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    /* border: 1px solid pink; */
}

.content p strong {
    color: var(--color-black);
}

.folio {
    color: var(--color-neutral-500);
    font-family: var(--font-sans);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    text-wrap: nowrap;
    /* border: 1px solid pink; */
}

.slideViewer {
    /* display: flex; */
    width: 100%;
    overflow: hidden;
    height: auto;
    aspect-ratio: 16 / 9;
    /* border: 3px solid red; */

    border-radius: 0.25rem;
}

.slides {
    display: flex;
    width: 100%;
    /* overflow: hidden; */
    height: auto;
    aspect-ratio: 16 / 9;
    /* border: 3px solid blue; */
}
