.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8888;
    cursor: pointer;
}

.modal {
    overflow: hidden;
    margin: 0 0 0 0;
    padding: 0;
    width: 480px;
    background-color: white;
    color: black;
    border-radius: 1.5rem;
    cursor: default;
    z-index: 9999;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* border: 1px solid red; */
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
}

.closeContent {
    display: flex;
    justify-content: flex-end;
    padding-top: 1rem;
    padding-right: 1.5rem;
    width: 100%;
}

.icon {
    color: #8c8c8c;
}

.icon:hover {
    color: var(--color-brand-dark-blue-hover);
    cursor: pointer;
}

.top {
    position: relative;
    width: 480px;
    height: 270px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 0 2.5rem 0;
}

.location {
    margin: 0 0 0.5rem 0;
    color: #ad8d5f;
    text-align: center;
    font-family: var(--font-serif);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25em;
}

.dates {
    margin: 1rem 0 1.5rem 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.smallCaps {
    color: var(--color-neutral-500, #787878);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    /* 150% */
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
    margin: 0 0 0.5rem 0;
}

.interiorImages {
    display: flex;
    width: 100%;
    justifycontent: space-around;
    alignitems: center;
    /* background-color: #f0f; */
}