.base {
    margin: 0;
    padding: 6rem 0;
    /* background-color: var(--color-neutral-50); */
    width: 100%;
    overflow: hidden;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0 0 3rem 0;
}

.subhead {
    width: 100%;
    margin: 0;
    padding: 0 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-brand-dark-blue);
}

.intro {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 1.5rem;
    color: var(--color-brand-light-blue);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.75rem;
}
