.base {
    margin: 0;
    padding: 0;
    cursor: pointer;
    /* color: var(--Color-Neutral-500, #787878); */
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; /* 150% */
}

.notSelected {
    composes: base;
    padding-bottom: calc(0.5rem + 4px);
    color: var(--color-neutral-300);
}

.selected {
    composes: base;
    padding-bottom: 0.5rem;
    color: var(--color-neutral-900);
    font-weight: 700;
    border-bottom: 4px solid var(--color-neutral-300);
}
