.base {
    display: flex;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    gap: 0.75rem;
    align-items: center;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.125rem;
    /* box-sizing: border-box; */
    width: 1.5rem;
    min-width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    border: 2px solid var(--color-neutral-200);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: var(--color-white);
}

.radio:hover {
    border: 2px solid var(--color-neutral-400);
    /* background-color: var(--color-neutral-400); */
}

.radio:hover .disc {
    background-color: var(--color-neutral-400);
}

.hidden:checked ~ .radio {
    border: 2px solid #1da4ba;
    background-color: var(--color-white);
}

.hidden:checked ~ .radio .disc {
    /* border: 2px solid #1da4ba; */
    background-color: #1da4ba;
}

.option {
    font-size: 1rem;
    font-family: var(--font-sans);
    font-weight: 400;
    color: var(--color-neutral-500);
}

.hidden {
    display: none;
}

.disc {
    aspect-ratio: 1/1;
    width: 0.875rem;
    height: 0.875rem;
    min-width: 0.875rem;
    min-height: 0.875rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    transition: all 0.2s ease-in-out;
}
