.base {
    background: linear-gradient(180deg, #f6f3ee 0%, #f3efe8 100%);
}

.interface {
    margin: 0;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    grid-column: 1 / 14;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rooms {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.preview {
    grid-column: 3 / 9;
    grid-row: 2 / 3;
}

.previewImage {
    width: 100%;
    aspect-ratio: 1 / 1;
    height: auto;
}

.sidebar {
    display: none;
}

.description {
    display: none;
}

.subhead {
    color: var(--color-brand-beige);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

@media only screen and (min-width: 1440px) {
    .interface {
        display: grid;
        column-gap: 2rem;
        row-gap: 2rem;
        grid-template-columns: repeat(12, 1fr);
        margin: 0;
        padding: 2rem 0 4rem 0;
        grid-column: 1 / 14;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 3 / 11;
        grid-row: 1 / 2;
    }

    .subhead {
        margin: 0 0 2rem 0;
    }

    .sidebar {
        display: block;
        grid-column: 9 / 12;
        grid-row: 2 / 3;
    }

    .description {
        display: block;
        grid-column: 3 / 9;
        grid-row: 3 / 4;
        color: var(--color-brand-beige);
        font-family: var(--font-sans);
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5rem;
        max-width: 37rem;
    }
}
