.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 11;
    /* border: 3px dashed red; */
}

.content h1 {
    color: var(--color-black);
    font-family: var(--font-serif);
    font-size: 2.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.intro {
    color: var(--color-neutral-500);
    text-align: center;
    font-family: var(--font-sans);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5em;
    max-width: 37.5rem;
}

.information {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    font-family: var(--font-sans);
    list-style: none;
    color: var(--color-neutral-500);
    line-height: 0.75rem;
}

.information li {
    margin: 0;
    padding: 0;
}

.subhead {
    color: var(--color-neutral-500, #787878);
    /* text-align: center; */
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem; /* 150% */
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
}

.price {
    color: var(--color-black);
    /* text-align: center; */
    font-family: var(--font-serif);
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
