.base {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: span 12;
}

.base li {
    margin: 0;
    padding: 0;
}

.base li a {
    color: var(--color-neutral-600);
    leading-trim: both;
    text-edge: cap;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

.base li a:hover {
    color: var(--color-neutral-800);
}

.breadcrumb {
    display: flex;
    gap: 1rem;
    align-items: center;
}
