.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    grid-column: span 12;
    padding: 0 1.5rem;
}

.small_caps {
    color: var(--color-brand-light-blue);
    /* text-align: center; */
    leading-trim: both;
    text-edge: cap;
    font-family: var(--font-sans);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5rem;
    /* 150% */
    font-variant: all-small-caps;
    letter-spacing: 0.1rem;
}

.milestone {
    margin: 1rem 0;
    padding: 2rem 1.5rem;
    border: 1px solid var(--color-neutral-50);
    border-radius: 1rem;
    background-color: var(--color-neutral-0);
    width: 100%;
}

.milestone h3 {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-family: var(--font-sans);
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--color-brand-dark-blue);
}

.milestone p {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font-family: var(--font-sans);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--color-brand-light-blue);
}

.icon {
    margin: 0 0 1rem 0;
    padding: 0;
    color: var(--color-brand-light-blue);
}

.icon_arrow {
    margin: 0;
    padding: 0;
    color: var(--color-brand-light-blue);
}

/* fixed */
@media only screen and (min-width: 1440px) {
    .timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        grid-column-start: 3;
        grid-column-end: 11;
    }

    .small_caps {
        color: var(--color-brand-light-blue);
        /* text-align: center; */
        leading-trim: both;
        text-edge: cap;
        font-family: var(--font-sans);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5rem;
        /* 150% */
        font-variant: all-small-caps;
        letter-spacing: 0.1rem;
    }

    .milestone {
        margin: 1rem 0;
        padding: 2rem 1.5rem;
        /* border: 1px solid rgba(24, 194, 223, 0.15); */
        border-radius: 1rem;
        /* background-color: rgba(24, 194, 223, 0.05); */
        width: 35rem;
    }

    .milestone h3 {
        margin: 0 0 0.5rem 0;
        padding: 0;
        font-family: var(--font-sans);
        font-weight: 500;
        font-size: 1.25rem;
        color: var(--color-brand-dark-blue);
    }

    .milestone p {
        /* margin: 0; */
        padding: 0;
        font-family: var(--font-sans);
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.25rem;
        /* color: var(--color-brand-light-blue); */
    }

    .icon {
        margin: 0 0 1rem 0;
        padding: 0;
        color: var(--color-brand-light-blue);
    }

    .icon_arrow {
        margin: 0;
        padding: 0;
        color: var(--color-brand-light-blue);
    }
}