.base {
    display: flex;
    /* width: 20rem; */
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 1.5rem; */
    /* flex-shrink: 0; */
    flex-grow: 0;
    border-radius: 0.5rem;
    background: var(--color-white);

    /* Dropshadow */
    box-shadow: 0px 4px 16px 0px rgba(54, 72, 75, 0.15);

    text-decoration: none;
    font-family: var(--font-sans);
    color: var(--color-neutral-500);
    transition:
        transform 300ms ease,
        box-shadow 300ms ease;

    align-self: center;
    min-width: fit-content;
}

.base:hover {
    /* Dropshadow */
    box-shadow: 0px 4px 16px 0px rgba(54, 72, 75, 0.3);
    transform: translateY(-2px);
}

.img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* width: 10%; */
    /* aspect-ratio: '19 / 6'; */

    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    display: block;
    object-fit: cover;

}

.content {
    margin: 0;
    padding: 1rem 1.5rem;
    width: 100%;
}

.location {
    margin: 0 !important;
    padding: 0 0 0.5rem 0 !important;
    color: var(--color-neutral-500) !important;
    line-height: 1.5rem;
    font-family: var(--font-sans);
    text-align: left !important;
}

.information {
    display: flex;
    gap: 1rem;
    margin: 0 0 1.5rem 0;
    padding: 0;
    list-style: none;
    color: var(--color-neutral-500);
    line-height: 1.5rem;
}