.base {
    background-color: var(--color-brand-light-blue);
    margin: 0;
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 0.75rem;
    grid-column: span 12;
    /* max-width */
}

.display2 {
    margin: 0 0 1rem 0;
    padding: 0;
    font-family: var(--font-serif);
    color: white;
    max-width: 38rem;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.intro {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5em;
    opacity: 0.75;
    color: var(--color-white);
    max-width: 38rem;
    padding: 0;
    margin: 0 auto 2rem auto;
}

.cta {
    font-family: var(--font-sans);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
    color: var(--color-white);
    max-width: 38rem;
    padding: 0;
    margin: 2rem auto 2rem auto;
    opacity: 0.75;
}

.cta a {
    color: var(--color-white);
}

/* fixed */
@media only screen and (min-width: 601px) {
    .base {
        margin: 0 auto;
        padding: 6rem 0;
        max-width: 60vw;
    }

    .intro {
        font-size: 1.5rem;
        font-weight: 300;
    }
}
