.root {
    margin: 0;
    padding: 6rem 0;
    background-color: rgba(24, 194, 223, 0.08);
}

.content {
    width: 40rem;
    margin: 0 auto;
    padding: 4rem 0 8rem 0;
}

.subhead {
    margin-bottom: 1rem;
    color: var(--color-brand-dark-blue);
}

.intro {
    width: 40rem;
    margin: 0 auto;
    padding: 0;
    color: var(--color-brand-light-blue);
    font-family: var(--font-sans);
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    line-height: 1.75rem;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    margin: 0 auto;
    padding: 0 2rem;
    width: 1440px;
}
