.base {
    overflow-x: scroll;
    margin: 2rem 0;
}

.base::-webkit-scrollbar {
    display: none;
}

.tags {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0 0 0 1rem;
    list-style: none;
}

/* fixed */
@media only screen and (min-width: 1400px) {
    .base {
        margin: 2rem 0;
        grid-column: span 12;
    }

    .base::-webkit-scrollbar {
        display: none;
    }

    .tags {
        display: flex;
        gap: 1rem;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: center;
    }
}
